.SteeringContent-containerss {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3.125rem;
    padding: 3.125rem 6.25rem;
    background-color: #111111;
    margin-bottom: 1rem;
}

.SteeringContent-textss {
    max-width: 31.25rem;
    text-align: right;
}



.SteeringContent-textss h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0.625rem 0;
}

.SteeringContent-textss p {
    font-size: 1rem;
    color: #ffffff;
    line-height: 1.6;
}

.SteeringContentbtnssd {
    display: inline-block;
    margin-top: 15px;
    padding: .625rem 1.25rem;
    background: #C00104;
    color: white;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 0.313rem;
    transition: background 0.3s ease;
}

.SteeringContentbtnssd:hover {
    background: darkred;
}

/* Image Section */
.SteeringContent-imagess {
    position: relative;
    width: 31.25rem;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SteeringContentmainssd-img {
    width: 100%;
    height: 100%;
    border-radius: .625rem;
    object-fit: cover;
}

/* Responsive Design */
@media (max-width: 768px) {
    .SteeringContent-containerss {
        flex-wrap: wrap;
        text-align: center;
    }

    .SteeringContent-imagess {
        width: 25.5rem;
        height: auto;
    }
}

@media (max-width: 600px) {
    .SteeringContent-containerss {
        flex-direction: column;
        text-align: center;
        padding: 2.5rem 1.25rem;
    }

    .SteeringContent-textss {
        text-align: left;
    }

    .SteeringContent-imagess {
        width: 20.5rem;
        height: auto;
    }
}
