/* Services.css */
.SterringBoxBa-container {
    background-color: #111111;
    padding: 2.5rem 1.25rem;
    margin-bottom: .625rem;
  }
  .SterringBoxBa-title{
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
    width: 85%;
    margin: 0 auto;
  }
  .SterringBoxBa-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 430px;
    margin: 0 auto; */
    text-align: left;
    width: 100%;
    flex-wrap: wrap;
    gap: 1.25rem; /* Adjust spacing */
  }
  
  .SterringBoxBa-header h2 {
    font-size: 2rem;
    color: #ffffff;
    text-align: left;
    flex: 1;
    min-width: 18.75rem;
  }
  
  .SterringBoxBa-header p {
    font-size: 1rem;
    color: #cccccc;
    text-align: right;
    flex: 1;
    max-width: 37.5rem;
    min-width: 18.75rem;
  }
  
  .SterringBoxBa-description{
    color: #FFFFFF;
  }
  .SterringBoxBa-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    justify-content: center;
    margin-top: 1.25rem;
    position: relative;
    background-color: transparent;
  }
  
  .SterringBoxBa-card {
    background: #111; /* Fallback color */
    border-radius: .5rem;
    width: 100%;
    max-width: 21.875rem;
    height: 21.875rem; /* Adjust height as per your design */
    position: relative;
    overflow: hidden;
    box-shadow: 0 .25rem .625rem rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    background-image: url(''); /* Will be replaced by JS */
    background-position: center;
    background-size: cover;
  }
  
  .SterringBoxBa-card:hover {
    transform: translateY(-5px);
  }
  
  .SterringBoxBa-card .SterringBoxBa-content {
    position: absolute;
    bottom: 1.25rem;
    left: 1.25rem;
    right: 1.25rem;
    color: #fff;
    z-index: 2;
  }
  
  .SterringBoxBa-card .SterringBoxBa-content h3 {
    background: #C00104;
    color: white;
    padding: 0.625rem 1.2225rem;
    text-align: center;
    border: none;
    font-size: 0.938rem;
    font-family: "sans-serif", sans-serif;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3sease-in-out;
    margin-bottom: 0.938rem;
    position: relative;
}

  
  .Ac-box-title{
    color: #ffffff;
  }
  .SterringBoxBa-card .SterringBoxBa-content p {
    font-size: 0.9rem;
    color: #000000;
    background-color: #cccccc69;
    background-color: #ccccccdc;
    border-radius: .25rem;
  padding: .75rem .5rem;
  }
  
  /* Responsive Design */
  
  @media screen and (max-width:992px) {
    .SterringBoxBa-title{
      flex-direction: column;
    }
  }
  @media (max-width: 768px) {
    .SterringBoxBa-title{
      padding: 0;
      width: 66%;
    }
    .SterringBoxBa-header {
      flex-direction: column;
      text-align: center;
    }
  
    .SterringBoxBa-header h2,
    .SterringBoxBa-header p {
      text-align: center;
      flex: unset;
      max-width: 100%;
    }
  
    .SterringBoxBa-grid {
      flex-direction: column;
      align-items: center;
    }
  
    .SterringBoxBa-card {
      max-width: 50%;
    }
  }
  
  @media (max-width: 480px) {
  
    .SterringBoxBa-header h2 {
      font-size: 1.5rem;
    }
  
    .SterringBoxBa-header p {
      font-size: 0.9rem;
    }
  
    .SterringBoxBa-content h3 {
      font-size: 1rem;
    }
  
    .SterringBoxBa-content p {
      font-size: 0.85rem;
    }
  }
  @media screen and (max-width:600px) {
    .SterringBoxBa-card {
      max-width: 100%;
    }
    .SterringBoxBa-title {
      padding: 0;
      width: 100%;
    }
  }