/* Services.css */
.services-container {
  background-color: #111111;
  padding: 2.5rem 1.25rem;
  /* margin-bottom: 0.625rem; */
}
.service-title{
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
  width: 85%;
  margin: 0 auto;
  gap: 3rem;
}
.services-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 26.875rem;
  margin: 0 auto; */
  text-align: left;
  width: 100%;
  flex-wrap: wrap;
  gap: 1.25rem; /* Adjust spacing */
}

.services-header h2 {
  font-size: 2rem;
  color: #ffffff;
  text-align: left;
  flex: 1;
  min-width: 18.75rem;
}

.services-header p {
  font-size: 1rem;
  color: #cccccc;
  text-align: right;
  flex: 1;
  max-width: 37.5rem;
  min-width: 18.75rem;
}

.service-description{
  color: #ffffffe8;
}
.services-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
  margin-top: 1.25rem;
  position: relative;
  background-color: transparent;
  padding-bottom: 4rem;
}

.service-card {
  background: #111; /* Fallback color */
  border-radius: 0.5rem;
  width: 100%;
  max-width: 21.875rem;
  height: 21.875rem; /* Adjust height as per your design */
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
  background-image: url(''); /* Will be replaced by JS */
  background-position: center;
  background-size: cover;
}

.service-card:hover {
  transform: translateY(-0.3125rem);
}

.service-card .service-content {
  position: absolute;
  bottom: 1.25rem;
  left: 1.25rem;
  right: 1.25rem;
  color: #fff;
  z-index: 2;
}

.service-card .service-content h3 {
  background: #C00104;
  color: white;
  padding: 0.625rem 1.2225rem;
  border: none;
  font-size: 0.938rem;
  font-family:  sans-serif;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3sease-in-out;
  margin-bottom: 0.938rem;
  position: relative;
}


.service-card .service-content p {
  font-size: 0.9rem;
  color: #000000;
  padding: 0.75rem 0.5rem;
  text-align: left;
  background-color: #ccccccdc;
  border-radius: 0.25rem;
  /* filter: blur(0.8px); */
}

/* Responsive Design */

@media screen and (max-width: 62rem) {
  .service-title{
    flex-direction: column;
  }
}
@media (max-width: 48rem) {
    .service-title{
    padding: 0;
    width: 66%;

  }
  .services-header {
    flex-direction: column;
    text-align: center;
  }

  .services-header h2,
  .services-header p {
    text-align: center;
    flex: unset;
    max-width: 100%;
  }

  .services-grid {
    flex-direction: column;
    align-items: center;
  }

  .service-card {
    max-width: 50%;
  }
}

@media (max-width: 30rem) {
  .services-header h2 {
    font-size: 1.5rem;
  }

  .services-header p {
    font-size: 0.9rem;
  }

  .service-content h3 {
    font-size: 1rem;
  }

  .service-content p {
    font-size: 0.85rem;
  }
}
@media screen and (max-width:600px) {
  .service-card {
    max-width: 100%;
  }
  .service-title {
    padding: 0;
    width: 100%;
  }
}