.red-banner {
  background-color: #C00104;
  padding: 2.5rem 5%;
  display: flex;
  justify-content: center;
  margin: -4.063rem auto;
  width: 80%;
  position: relative;
  z-index: 2;
  box-shadow: 0 0.313rem 0.938rem rgba(0, 0, 0, 0.2);
  
}

.stats-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 75rem;
}

.stat-item {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  position: relative;
}

.stat-content {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 0.938rem;
}

.stat-image {
  width: 3.75rem;
  height: 3.75rem;
  object-fit: contain;
}

.stat-info {
  display: flex;
  flex-direction: column;
}

.stat-number {
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
}

.stat-text {
  font-size: 1rem;
  color: white;
  font-family: sans-serif;
  margin-top: 0.8rem;
  width: 100%;
  text-wrap: nowrap;
}

/* Vertical Line Between Items */
.stat-divider {
  width: 2px;
  height: 3.75rem;
  background-color: white;
  margin: 0 1.25rem;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .red-banner {
    width: 90%;
    padding: 1.875rem 5%;
    margin: -1.875rem auto;
  }
}

@media (max-width:900px) {
  .red-banner {
    width: 95%;
    padding: 1.875rem 5%;
    margin: -1px auto;
  }

  .stats-container {
    flex-wrap: wrap; /* Allow items to wrap */
    justify-content: center; /* Center align items */
    gap: 1.25rem; /* Add spacing between items */
  }

  .stat-item {
    flex: 1 1 45%; /* Allow two items per row */
    min-width: 11.25rem;
    justify-content: center;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 0 9rem;
  }

  .stat-divider {
    display: none;
  }
}

@media (max-width: 600px) {
  .stats-container{
    justify-content: flex-start;
  }
  .stat-item {
    min-width: 100%;
     justify-content: flex-start ; 
    padding: 0.5rem 5.5rem !important;


  }

  .stat-number {
    font-size: 1.5rem;
  }

  .stat-text {
    font-size: 0.9rem;
  }
}
