.ReviewComponent-section {
    position: relative;
    background: url('../assets/images/Pages/AboutUsheader.jpg') center/cover no-repeat;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
  }
  
  .ReviewComponent-section h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .breadcrumb {.aboutss-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px;
}

.ReviewComponent-text {
  max-width: 500px;
  text-align: right;
  margin-right: 150px;
}

.ReviewComponent-text .tagliness {
  color: #C00104;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.ReviewComponent-text h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

.ReviewComponent-text p {
  font-size: 16px;
  line-height: 1.6;
  color: #171717;
}

.btnss {
  background-color: #C00104;
  color: white;
  text-decoration: none;
  padding: 12px 20px;
  display: inline-block;
  margin-top: 20px;
  font-weight: bold;
  border-radius: 5px;
}

.btnss:hover {
  background-color: #C00104;
}

.ReviewComponent-images {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .mainss-img {
    width: 100%;
    border-radius: 10px;
    height: 420px;
}


.overlayss-img {
    position: absolute;
    width: 50%;
    max-width: 200px;
    border: 5px solid white;
    border-radius: 10px;

    left: -20%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Responsive */
@media (max-width: 768px) {
    .ReviewComponent-container {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .ReviewComponent-text h1 {
        font-size: 2rem;
        font-size: 50px;
    }

    .ReviewComponent-text p {
        max-width: 100%;
    }

    .ReviewComponent-images {
        flex-direction: column;
    }

    .overlayss-img {
        position: relative;
        top: -50px;
        left: 0;
        width: 70%;
    }
}

    margin-top: 10px;
  }
  
  .breadcrumb a {
    color: #C00104(255, 0, 0);
    text-decoration: none;
    font-size: 1rem;
    margin: 0 5px;
    transition: color 0.3s;
  }
  
  /* .breadcrumb a:hover {
    color: #C00104;
  } */
  
  .breadcrumb a:last-child:hover {
    color: white;
  }
  .btnss{
    color: #C00104;

  }