.aboutss-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8.188rem;
    padding: 10.25rem 6.25rem;
    background-color: #f9f9f9;
  }
  
  .aboutss-text {
    max-width: 31.25rem;
    text-align: right;
  }
  
  .tagliness {
    font-size: 0.9rem;
    color: #C00104 !important;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .aboutss-text h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0.625rem 0;
  }
  
  .aboutss-text p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
  }
  
  .btnss {
    display: inline-block;
    margin-top: 15px;
    padding: .625rem 1.25rem;
    background: red;
    color: white !important;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 0.313rem;
    transition: background 0.3s ease;
  }
  
  .btnss:hover {
    background: darkred;
  }
  
  /* Image Section */
  .aboutss-images {
    position: relative;
    width: 31.25rem; /* Slightly increased for proper positioning */
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mainss-img {
    width: 100%;
    height: 100%;
    border-radius: .625rem;
    object-fit: cover;
  }
  
  /* Overlay image positioned on top */
  .overlayss-img {
    position: absolute;
    top: 1.875rem;
    left: -2.5rem;
    width: 9.375rem;
    border: 0.313rem solid white;
    border-radius: .625rem;
    box-shadow: 0 0.25rem .5rem rgba(0, 0, 0, 0.2);
  }
  .about-main-img{
    width: 100% !important;
    object-fit: contain;
    height: 100% !important;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .aboutss-container {
      /* flex-direction: column; */
      flex-wrap: wrap;
      text-align: center;
    }
  
    .aboutss-images {
      width: 35.5rem;
      height: auto;
    }
     .about-main-img{
      width: 100% !important;
      object-fit: contain;
      height: 100% !important;
    }
    .overlayss-img {
      top: -1.25rem;
      left: 0.938rem;
      width: 7.5rem;
    }
  }
  
  @media (max-width: 600px) {

    .aboutss-container {
      flex-direction: column;
      flex-wrap: wrap;
      text-align: center;
      padding: 2.5rem 1.25rem;

    }
    .aboutss-text {
      /* max-width: 31.25rem; */
      text-align: left;
    }
    .aboutss-images {
      width: 20.5rem;
      height: auto;
    }
  
    .overlayss-img {
      top: -1.25rem;
      left: 0.938rem;
      width: 7.5rem;
    }
  }