.subscription-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #C00104;
  padding: 3.125rem 6.25rem; /* 5rem 10rem */
  color: white;
  max-width: 80%;  /* Reduced width */
  margin: 0 auto;  /* Centered */
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.subscription-content {
  display: flex;
  align-items: center;
  gap: 0.9975rem; /* 1.5rem */
}

.newsletter-icon {
  width: 2.5rem; /* 4rem */
}

.text-content {
  margin-bottom: 0.5rem;
  
}


.text-content h3 {
  margin: 0;
  font-weight: bold;
  font-size: 1.8rem; /* 4rem */

  font-family: Anybody;

}

.text-content p {
  margin: 0;
  font-weight: bold;
  font-size: 1.8rem; /* 2.4rem */
  font-family: Anybody;
}

.subscription-form {
  display: flex;
  /* align-items: center; */
}

.subscription-form input {
  padding: 1rem 0.9rem; /* 0.8rem */
  border: none;
  outline: none;
  border-radius: 0.1875rem; /* 0.3rem */
  margin-right: 0.625rem; /* 1rem */
  width: 25rem; /* 40rem */
  background-color: transparent;
  border: 0.0625rem solid #FFFFFF; /* 0.1rem */
  color: white;
}

.subscription-form input::placeholder {
  color: #FFFFFF;
  font-size: 1rem;
}

.subscription-form button {
  background: black;
  color: white;
  border: none;
  padding: 1rem 0.75rem; /* 0.8rem 1.2rem */
  cursor: pointer;
  border-radius: 0.1875rem; /* 0.3rem */
  font-weight: bold;
  display:flex;
  align-items: center;
  gap: .625rem;
}

.subscription-form button span {
  font-size: 0.8rem;
}

/* Responsive */
@media (max-width: 48rem) { /* 768px */
  .subscription-box {
    flex-direction: column;
    text-align: center;
    padding: 2.5rem 1.25rem; /* 4rem 2rem */
    max-width: 95%;  /* Slightly wider on smaller screens */
  }

  .subscription-content {
    flex-direction: column;
  }

  .subscription-form {
    flex-direction: column;
    width: 100%;
  }

  .subscription-form input {
    width: 100%;
    margin-bottom: 0.625rem; /* 1rem */
  }

  .text-content h3 {
    font-size: 2rem; /* Adjusted for mobile */
  }

  .text-content p {
    font-size: 1.8rem; /* Adjusted for mobile */
  }
}
