.car-Frame-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 10%;
    /* background: #f8f8f8; Light background */
  }
  
  .car-Frame-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1.875rem;
    justify-content: center;
    align-items: center;
  }
  .logo-img{
    background: #f8f8f8;
    height: 5.625rem;
    width: 13.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .car-Frame {
    object-fit: contain;
    width: 70%; /* Adjust based on your design */
    height: 70%;
    filter: grayscale(100%); /* Optional: Makes logos black & white */
    transition: 0.3s ease-in-out;
  }
  
  .car-Frame:hover {
    filter: grayscale(0%); /* Removes grayscale on hover */
  }
  
  @media (max-width: 768px) {
    .car-Frame-wrapper {
      gap: 1.25rem;
    }
    .car-Frame {
      width: 5rem; /* Adjust for smaller screens */
    }
  }
  
  @media (max-width: 600px) {
    .car-Frame {
      width: 3.75rem
      ; /* Further adjust for mobile */
    }
      .logo-img{
    background: #f8f8f8;
    height: 5.625rem;
    width: 13.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .car-Frame {
    object-fit: contain;
    width: 70%; /* Adjust based on your design */
    height: 70%;
    filter: grayscale(100%); /* Optional: Makes logos black & white */
    transition: 0.3s ease-in-out;
  }
  }
  