.car-Frame-container {
  width: 100%;
  padding: 2.5rem 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.car-Frame-slider {
  width: 100%;
}

.logo-img {
  background: #f8f8f8;
  height: 5.625rem;
  width: 13.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.car-Frame {
  object-fit: contain;
  width: 70%;
  height: 70%;
  transition: 0.1s ease-in-out;
}



.slick-slide {
  display: flex;
  justify-content: center;
}

.slick-prev, .slick-next {
  display: none !important; /* Hide arrows */
}

/* Responsive */
@media (max-width: 768px) {
  .logo-img {
    width: 10rem;
  }
}

@media (max-width: 480px) {
  .logo-img {
    width: 8rem;
  }
}
