/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font Sizing and Root Element */
html,
body {
  font-size: 1.041666667vw;
  scroll-behavior: smooth;
  /* font-family: "Poppins", sans-serif; Default font-family Poppins
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; */
}

/* Font size for Tablet View */
@media screen and (max-width: 900px) {
  html,
  body {
    font-size: 1.3333334vw;
  }
}

/* Font size for Mobile View */
@media screen and (max-width: 600px) {
  html,
  body {
    font-size: 4.102564103vw;
  }
}


/* 🎯 Specific Font-Family Assignments */
/* "Anybody" font-family for Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: "Anybody", serif;
}

/* "Poppins" font-family for Paragraphs */
p {
  font-family: "Poppins", sans-serif;
} 