.services-container {
  background-color: black;
  color: white;
  text-align: center;
  padding: 50px 5%;
 
}

/* New Reading Heading Styling */
.reading-heading {
  font-size: 12px;
  color: red;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 35px;
}

.services-heading {
  font-size: 45px;
  font-family: Anybody;
  margin-bottom: 20px;
}


.services-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: auto;
  gap: 20px;
}

/* Center Image Circle Style */
.services-image .center-image {
  width: 350px;
  height: 650px;
  border-radius: 20%;
  padding-top: 50px;
}

.services-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.service-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.service-item:hover {
  transform: scale(1.05);
}

.service-item img {
  width: 50px;
  height: 50px;
  background-color: #c00104;
  border-radius: 10px;
  padding: 10px;
}

.service-item h3 {
  font-family: 'Anybody', sans-serif;
  font-size: 20px;
  color: #ffffff;
  margin: 0;
}

.service-item p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #ffffff;
  margin: 5px 0 0 0;
}

/* Responsive */
@media (max-width: 768px) {
  .services-content {
    flex-direction: column;
    align-items: center;
  }

  .services-image img {
    width: 200px;
    height: 200px;
  }
}
