.services-container {
  background-color: black;
  color: white;
  text-align: center;
  padding: 3.2rem 5%;

 
}
.services-list a {
  color: white;  /* Keeps the link color white */
  text-decoration: none;  /* Removes underline */
}

.services-list a:hover {
  color: #C00104; /* Changes color on hover */
}


/* New Reading Heading Styling */
.reading-heading {
  font-size: 0.75rem;
  color: #C00104;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
  margin-top: 5.375rem;
}

.services-heading {
  font-size: 2.813rem;
  font-family: Anybody;
  margin-bottom: 1.25rem;
}
.service-icon{
  object-fit: contain;
}

.services-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 75rem;
  margin: auto;
  gap: 1.25rem;
  padding-bottom: 3rem;
}

/* Center Image Circle Style */
.services-image .center-image {
  width: 23.875rem;
  height: 37.625rem;
  border-radius: 37%;
  padding-top: 1.5rem;
  /* padding-bottom: 2rem; */
  border-radius: 45%;
}



.services-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.services-list.sty1 .service-item .services-list-content{
  text-align: right;
}
.services-list.sty2 .service-item .services-list-content{
  text-align: left;
}
.service-item {
  display: flex;
  align-items: center;
  gap: .88rem;
  padding: 1.25rem;
  border-radius: 0.625rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.service-item:hover {
  transform: scale(1.05);
}

.service-item img {
  width: 4.063rem;
  height: 4.063rem;
  background-color: #c00104;
  border-radius: 0.625rem;
  padding: 0.625rem;
}

.service-item h3 {
  font-family: 'Anybody', sans-serif;
  font-size: 1.25rem;
  color: #ffffff;
  margin: 0;
}

.service-item p {
  font-family: 'Poppins', sans-serif;
  font-size: 0.938rem;
  color: #ffffff;
  margin: 5px 0 0 0;
}

/* Responsive */
@media (max-width: 768px) {
  .services-content {
    flex-direction: column;
    align-items: center;
  }

  .services-image img {
    width: 12.5rem;
    height: 12.5rem;
  }
}
