.section-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: #f8f8f8;
  margin-bottom: 40px;
  margin-top: 40px;
}

.image-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.badge-img-customers {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  color: #C00104;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
 
}

.main-img {
  position: absolute;
  top: 0;
  left: 220px;
  width: 280px;
  height: auto;
  object-fit: cover;
}

.secondary-img {
  position: absolute;
  top: 220px;
  left: 50px;
  width: 300px;
  height: auto;
  z-index: 1;
}

.badge-img-year {
  position: absolute;
  top: 230px;
  left: 230px;
  width: 200px;
  height: 150px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 5px;
  z-index: 3;
}

.text-section {
  margin-top: 350px;
}

.text-section h1 {
  font-size: 2rem;
  color: #333;
}

.text-section p {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}

.text-section .warranty {
  font-style: italic;
  color: #777;
}

.read-more-btn {
  background-color: #d32f2f;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
