.section-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: #f8f8f8;
}

.section-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}

.image-section {
  position: relative;
  width: 50%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.badge-img-customers {
  height: 120px;
  width: 190px;
}

.main-img {
  width: 45%;
  height: 170px;
  object-fit: cover;
}

.secondary-img {
  position: relative;
  width: 55%;
  height: 180px;
  margin-top: 20px;
  align-self: flex-end;
}

.badge-img-year {
  width: 120px;
  height: auto;
  margin-top: 20px;
  align-self: flex-start;
  z-index: 3;
}

.text-section {
  width: 45%;
}

.text-section h1 {
  font-size: 2rem;
  color: #333;
}

.text-section p {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}

.text-section .warranty {
  font-style: italic;
  color: #777;
}

.read-more-btn {
  background-color: #d32f2f;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
